{% extends 'base.html.twig' %}

{% block title %}PanierAchat index{% endblock %}

{% block body %}
    <h1>PanierAchat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier_achat in panier_achats %}
            <tr>
                <td>{{ panier_achat.id }}</td>
                <td>{{ panier_achat.Nom }}</td>
                <td>{{ panier_achat.prix }}</td>
                <td>{{ panier_achat.image }}</td>
                <td>{{ panier_achat.quantite }}</td>
                <td>
                    <a href="{{ path('app_panier_achat_show', {'id': panier_achat.id}) }}">show</a>
                    <a href="{{ path('app_panier_achat_edit', {'id': panier_achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_panier_achat_new') }}">Create new</a>
{% endblock %}
